<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDH5jRdWVbo8gWyzYRs4sfGAXZcq2hw3H4</string>
	<key>GCM_SENDER_ID</key>
	<string>392564914465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.livestock</string>
	<key>PROJECT_ID</key>
	<string>livestock-agripoa</string>
	<key>STORAGE_BUCKET</key>
	<string>livestock-agripoa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392564914465:ios:d24d717dd8b10ab4f4e660</string>
</dict>
</plist>